body{
	background: url('../img/graduation-image.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%;   
}
.favorites{
	border-radius: 86px;
	border: 10px solid rgba(255, 255, 255, 0.32);
	padding-bottom: 25px;
	background-color: rgba(208, 235, 245, 0.48);
}
.fav-course{
	border-radius: 27px;
	background-color: #D2F9FF;
	height: 100px;
	margin-top: 25px;
	vertical-align: middle;
	border: 3px solid rgba(146, 152, 164, 0.77);
}
.fav-course:hover{
	background-color: #8FFF8F;
}
a{
	color: rgba(69, 59, 59, 0.97);
}
h1{
	margin-bottom: 20px;
}
.list-group-item:hover{
	background-color: rgba(97, 176, 255, 0.76);
}
.studybacker{
	font-family: fantasy;
}
.navbar-right{
	margin-right: 5px;
}

.row {
	margin: 0;
}