body{
	background: url('../img/graduation-image.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%;   
	/*padding-bottom: 25px;*/
}
.navbar-right{
	margin-right: 5px;
}
.title{
}
.forum{
	border-radius: 6px;
	background-color: #FBFEE9;	
	border: 2px solid rgba(113, 99, 99, 0.9);
}
.description{
	background-color: rgba(142, 149, 155, 1);
	border-radius: 6px;
}
.entry1, .entry3{
	background-color: aliceblue;
}

.row {
	margin: 0;
}
.entry{
	padding-top: 20px;
	padding-bottom: 20px;
}
.profile-pic{
	height: 75px;
	width: 75px;
}
.like{
	height:45;
	width: 45;
}
.like-section{
	padding-top: 58px;
}
.reply-area{
	background-color: rgba(166, 186, 101, 0.3);
	padding-top: 25px;
	padding-bottom: 25px;
}
.notification-container {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #111;
	width: 400px;
	color: white;
	padding: 15px;
}

.notification {

}

.notification hr {
	margin: 5px 0px;
}

.notification a {
	color: teal;
	text-decoration: none;
}

.notification a:hover {
	color: red;
}

.notification > div {
	float: right;
}

.notification-header {
	margin-bottom: 10px;
	font-size: 20px
}

.notification-header a:hover {
	color: teal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded- opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}