body{
	background: url('../img/graduation-image.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%;   
	/*padding-bottom: 25px;*/
}
.navbar-right{
	margin-right: 5px;
}
.title{
}
.forum{
	border-radius: 6px;
	background-color: #FBFEE9;	
	border: 2px solid rgba(113, 99, 99, 0.9);
}
.description{
	background-color: rgba(142, 149, 155, 1);
	border-radius: 6px;
}
.entry1, .entry3{
	background-color: aliceblue;
}

.row {
	margin: 0;
}
.entry{
	padding-top: 20px;
	padding-bottom: 20px;
}
.profile-pic{
	height: 75px;
	width: 75px;
}
.like{
	height:45;
	width: 45;
}
.like-section{
	padding-top: 58px;
}
.reply-area{
	background-color: rgba(166, 186, 101, 0.3);
	padding-top: 25px;
	padding-bottom: 25px;
}